body {
  padding: 0;
  margin: 0;
  background: #ccc; }

.pads {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute; }

.pad {
  box-sizing: border-box;
  width: 50%;
  height: 33%;
  background: red;
  border: 1px solid black;
  float: left; }
